.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    min-height: 100vh;
    margin:20px;
    padding: 10px;
    gap: 10px;

}
.container .input-box{
    font-size : 2em;
    color: whitesmoke;
    text-align: center;
    border-radius: 5px;
}

#input-box1{
    background-color: pink;
    margin: 1rem;
    height: 100px;
    text-align: center;
    position: sticky;
    top:0;

}

.container .article{
    background-color: green;
    margin: 1rem;
    flex-grow:1;
    text-align: center;
    
}

#input-box2 {
    background-color: red;
    margin: 1rem;
    height: 120px;
    text-align: center;
    
}

#input-box3 {
    background-color: red;
    margin: 1rem;
    height: 120px;
    text-align: center;
    
}

#input-box4{
    background-color: red;
    margin: 1rem;
    height: 120px;
    text-align: center;
    
}

#input-box5{
    background-color: blue;
    margin: 1rem;
    height: 100px;
    text-align: center;
    

}

#input-box6{
    background-color: orange;
    margin: 1rem;
    height: 100px;
    position: bottom;
    text-align: center;
    position:sticky;
    bottom:0;
}


/*|| Small */
@media screen and (min-width: 320px){
    .container .article{ 
    background-color: green;}
     
}


/*|| Medium */
@media screen and (min-width: 768px){
    .container .article{ 
    background-color: green;}
     
}


/*|| Large*/
@media screen and (min-width: 992px){
    .container .article .input-box5{ 
    display: grid;
    grid-template-columns: repeat(2fr 1fr);
    }
     
}

