
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    margin:20px;
    padding: 10px;
    gap: 20px;

}
.container .input-box{
    width :100%;
    height : 70px;
    font-size : 1em;
    text-align: center;
    border-radius: 10px;
}

#input-box1{
    background-color: pink;
}

.container .article{
    background-color: green;
    
}

#input-box2 {
    background-color: red;
}

#input-box3 {
    background-color: red;
}

#input-box4{
    background-color: red;
}

#input-box5{
    background-color: blue;

}

#input-box6{
    background-color: orange;

}

