.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: whitesmoke;
    color: beige;
    height: 100vh;
    margin:20px;
    gap: 10px;
    font-size : 2em;
    text-align: center;
}

.header{
    background-color: pink;
    margin: 1rem;
    height: 100px;
    text-align: center;
    position: sticky;
    top: 0;
    border-radius: 10px;
}

.articles{
    background-color: green;
    margin: 1rem;
    flex-grow:1;
    border-radius: 10px;
}

.article1,
.article2,
.article3 {
    background-color: red;
    margin: 1rem;
    height: 120px;
    border-radius: 10px;   
}

.nav {
    background-color: blue;
    margin: 1rem;
    text-align: center;
    border-radius: 10px;
    display:flex;
     align-items: center;
    justify-content: center;
}

.footer {
    background-color: orange;
    margin: 1rem;
    height: 100px;
    position: bottom;
    text-align: center;
    position:sticky;
    bottom:0;
    border-radius: 10px;
}




/*|| Large*/
@media (min-width: 992px){
        .details {
            display:flex;
            flex-direction: row;
            align-items: stretch;
            
        }
        .articles{
            display:flex;
            flex:3;
            order:2;
            flex-direction: column;

        }
        .nav{
            flex:1;
            order:1;
            align-items: center;
            justify-content: center;
        }
        .header,.footer{
            width:100%
        }
     
}

